* {
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
  color: unset;
}


.container-hero{
  position: relative;
  text-align: center;
  color: white;
}

.text-hero {
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 26px;
}


.add-edit-page form {
  display: flex;
  flex-direction: column;
  min-height: 360px;
  justify-content: space-between;
  
} 

.add-edit-page form  textarea {
  margin-top: 8px;
  outline: none;
  font-size: 16px;
  
  
}



.add-edit-page form textarea::placeholder {
  font-size: 16px;
 
}

.hidden {
  overflow: hidden;
}

.screen {
  width: 100vw;
}
.h-screen {
  height: 100vh;
}
.inset{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.relative {
  position: relative;
}


/*  */
.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgba(0,0,0,var(--tw-bg-opacity));
}

.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.absolute {
  position: absolute;
}
.pointer-events-auto {
  pointer-events: auto;
}